/* Loader Wrapper */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  z-index: 1000;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #bb86fc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1f1f1f;
  color: #bb86fc;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background-color 0.3s ease;
}

.navbar:hover {
  background-color: #333;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo .icon {
  width: 40px;
  margin-right: 10px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.navbar .categories a,
.navbar .right a {
  color: #bb86fc;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar .categories a:hover,
.navbar .right a:hover {
  color: #3700b3;
  transform: scale(1.1);
}

/* Highlight Button */
.highlight-button {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #bb86fc;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.highlight-button:hover {
  background-color: #3700b3;
  transform: scale(1.05);
}

/* About Me Section */
.about-me {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  color: #fff;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about-me h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #bb86fc;
}

.about-me p {
  font-size: 18px;
  line-height: 1.6;
}

/* Projects Section */
.projects {
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.projects h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #bb86fc;
}

.projects-container {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project {
  min-width: 300px;
  margin: 20px;
  background-color: #2c2c2c;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, filter 0.3s ease;
  position: relative; /* Necessário para o efeito de desfoque */
}

.project iframe {
  width: 100%;
  height: 200px;
  border: none;
  margin-bottom: 15px;
  border-radius: 10px;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #bb86fc;
}

.project p {
  font-size: 16px;
  margin-bottom: 15px;
}

.project .watch-button {
  padding: 10px 20px;
  background-color: #bb86fc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.project .watch-button:hover {
  background-color: #3700b3;
}

.project.center {
  transform: scale(1.1);
  z-index: 1;
  filter: none;
}

.project.blur {
  filter: blur(5px);
}

/* Scroll Buttons */
.scroll-buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.scroll-buttons .scroll-button {
  background-color: #bb86fc;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  color: white;
}

.scroll-buttons .scroll-button:hover {
  background-color: #3700b3;
}

/* Scroll Buttons */
.scroll-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.scroll-buttons .scroll-button {
  background-color: #bb86fc;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.scroll-buttons .scroll-button:hover {
  background-color: #3700b3;
  transform: scale(1.1);
}

/* Switch for Music */
.switch-container {
  display: inline-block;
  margin-left: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #bb86fc;
}

input:checked+.slider:before {
  transform: translateX(20px);
}

/* General Styles */
body {
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Content */
.content {
  text-align: center;
  padding: 20px;
}

.content iframe {
  width: 80%;
  max-width: 800px;
  height: 450px;
  border: none;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Copyright Bar */
.copyright-bar {
  text-align: center;
  padding: 10px;
  background-color: #1f1f1f;
  color: #bb86fc;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Subscribe Section */
.subscribe-section {
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
}

.subscribe-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #bb86fc;
}

.subscribe-section p {
  font-size: 18px;
  margin-bottom: 20px;
}

.youtube-subscribe {
  display: inline-block;
  margin-top: 20px;
}

/* Additional Animations */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Footer Info Section */
.footer-info {
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background-color: #1f1f1f;
  color: #fff;
  border-top: 1px solid #bb86fc;
}

.footer-info-item {
  margin: 10px 0;
  font-size: 18px;
}

.footer-info-item i {
  margin-right: 10px;
  color: #bb86fc;
}

.footer-info-item a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-info-item a:hover {
  color: #bb86fc;
}

.discord-section {
  text-align: center;
  padding: 50px 20px;
  color: #ffffff;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 900px;
}

.discord-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #bb86fc; /* Cor roxa */
}

.discord-section p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.discord-section iframe {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .discord-section iframe {
    width: 100%;
    height: 400px;
  }
}

.discord-content {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center; 
  gap: 20px;
}

.discord-icon {
  font-size: 10em;
  color: #7289da;
  margin: 0;
}

.discord-button-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 20px; 
}

.discord-button {
  display: inline-block;
  background-color: #7289da; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.discord-button:hover {
  background-color: #5b6eae; 
}

/* Rocket Wrapper */
.rocket-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  z-index: 1000;
  transition: opacity 1s ease;
}

.rocket-wrapper i {
  font-size: 80px;
  color: #bb86fc;
  animation: rocket-fly 2s ease-in-out;
}

@keyframes rocket-fly {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.2) translateY(-30px);
  }
  100% {
    transform: scale(1) translateY(-60px);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  position: relative;
}


/* Estilos para as áreas de anúncio */
.cod-left, .cod-right {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 160px;
  height: auto;
  z-index: 1; 
  background-color: transparent; 
}

.cod-left {
  left: 0;
}

.cod-right {
  right: 0;
}

.cod-left a, .cod-right a {
  display: block;
  cursor: pointer;
  position: relative;
}

.cod-left img, .cod-right img {
  width: 100%;
  height: auto;
  display: block;
}

/* Regras de mídia para anúncios responsivos */
@media (max-width: 1200px) {
  .cod-left, .cod-right {
    width: 120px;
  }
}

@media (max-width: 992px) {
  .cod-left, .cod-right {
    width: 90px;
  }
}

@media (max-width: 768px) {
  .cod-left, .cod-right {
    display: none;
  }
}

.loader-wrapper {
  z-index: 1000; 
}

.navbar {
  z-index: 100;
}

/* Ajuste o z-index do conteúdo principal para garantir que ele fique acima dos anúncios */
.content, .about-me, .subscribe-section, .discord-section, .projects, .footer-info, .copyright-bar {
  position: relative;
  z-index: 2; 
}

/* Efeito de brilho pulsante */
.cod-left a::before, .cod-right a::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: transparent;
  z-index: -1;
  border-radius: 5px; 
  box-shadow: 0 0 10px var(--glow-color); 
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px var(--glow-color);
  }
  50% {
    box-shadow: 0 0 20px var(--glow-color);
  }
  100% {
    box-shadow: 0 0 10px var(--glow-color);
  }
}

/* Estilos para o botão "Anuncie conosco" */
.cod-left button, .cod-right button {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #7d7d7d;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
}

.cod-left button:hover, .cod-right button:hover {
  background-color: #0056b3;
}

/* CSS para o menu personalizado de clique direito */
.custom-context-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 200px;
  background-color: #1f1f1f;
  border: 1px solid #bb86fc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.custom-context-menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.custom-context-menu li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #bb86fc;
}

.custom-context-menu li:hover {
  background-color: #3700b3;
  color: white;
}

.custom-context-menu li i {
  margin-right: 10px;
}

