.container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.info {
  margin-bottom: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links p {
  margin-right: 10px;
  display: inline-block;
}
